/* mont */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
}
/* @import "tailwindcss"; */
@import "tailwindcss";

/* #3182ED12 fags bg */
textarea {
  resize: none;
}
html,
body {
  overflow-x: hidden;
}

.inter {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.text-primary {
  color: #00bd5f;
}
.bg-primary {
  background-color: #00bd5f;
}
.cta-gradient {
  background: linear-gradient(135deg, #0f1113 0%, #094b6e 100%);
}
button {
  cursor: pointer;
}
